@import '../../color.scss';

.navigation{
    display: flex;
    border-radius: 10px;

    .link{
        margin: 10px;
        color: $gold;


        .fas{
            font-size: 24px;
            margin: 0 8px;
        }
        span{
           height: 24px;
        }
    }

}