@import '../../color.scss';

.navigation{
    display: flex;
    border-radius: 10px;

    .link{
        margin: 10px;
        color: $gold;
        display: flex;
        .fas{
            font-size: 24px;
            margin: 0 8px;
        }
    }

}

@media (max-width:599px) {
    .navigation{
        justify-content: center;
        .link{
            color: black;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0px 4px;
        }

    }
    
}