@import 'color.scss';

* {
  list-style: none;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.body{
  margin: 0 20%;
  text-align: center;
  button{
    background-color: $gold;     
    border-radius: 5px;
    cursor: pointer;
  }

  .main{
    padding: 8px;
    height: 90vh;
    // overflow: scroll;
    scrollbar-width: none;

    .component{
      background-color: rgba(255,255,255,0.3);
      border-radius: 10px;
      padding: 40px 16px;
    }

  }
  .main::-webkit-scrollbar{
    display: none;
  }
  
}


a{
  text-decoration: none;
  color: black;
}

@media (max-width:599px) {
  .body{
    margin: 0 24px;

    .main{
      padding: 8px 0;
      .component{
        padding: 8px;
      }
    }
  } 
}

@media (min-width:600px) and (max-width:1024px) {
  .body{
    margin: 0 10%;
  } 
}