label{
    display: block;

    margin: 16px auto;
    position: relative;
    input{
        width: 100%;        
        padding: 8px;
        border-radius: 5px;
    }

    .fa-eye-slash{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        cursor: pointer;
    }

    .fa-eye{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        cursor: pointer;
    }

}

@media (max-width:1024px) {
    label{
        width: 100%;
    }
}