.home{
    text-align: center;
    p{
        padding: 16px 40px;
        text-align: left;
    }
}

@media (max-width:599px) {
    .home{
        p{
            margin: 0;
            padding: 16px 8px;
        }
    }

}