@import '../../color.scss';

.login{
    margin: 8px;
    width: 50%;

    .guest{
        background-color: $medium-green;
    }

    .error{
        opacity: 0;
        display: none;

        padding: 4px;
        margin: auto;
        text-align: center;
        border: 1px solid $red;
        color: $red;
        border-radius: 10px;
        background-color: $pink;
        &.add{
            opacity: 1.0;
            display: block;
            transition: 3s;
        }
    }
}


@media (max-width:1024px) {
    .login{
        .error{
            width: 100%;
            &.add{
                margin: 0;
            }
        }
    }

}