@import '../../color.scss';

.signin{    
    margin:8px;
    width: 50%;
    p{
        width: 50%;
        margin: auto;
    }
    .error{
        display: none;
        opacity: 0;
        padding: 4px;
        margin: auto;
        text-align: center;
        border: 1px solid $red;
        color: $red;
        border-radius: 10px;
        background-color: $pink;
        &.add{
            display: block;
            opacity: 1.0;
            transition: 3s;
        }
    }
}

@media (max-width:599px) {

    .signin{

        .error{
            width: auto;
        } 
     
    }
  }

