@import '../../color.scss';

.signin{

    .error{
        opacity: 0;
        width: 50%;
        padding: 4px;
        margin: auto;
        text-align: center;
        border: 1px solid $red;
        color: $red;
        border-radius: 10px;
        background-color: $pink;
        &.add{
            opacity: 1.0;
            transition: 3s;
        }
    }

    
}

