@import '../../color.scss';

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    .title{
        font-weight: bold;
        margin:24px 0 8px 40px;
        a{
            color: $gold;
            font-size: 2.4rem;
        }
    }

    .navi{
        margin:24px 40px 8px 0px;
    }

}

@media (max-width:1024px) {

    header{
        margin: 0;
        justify-content: center;
        align-items: center;

        .title{
            margin: 0;

        }
        .navi{  
            width: 100%;
            position: fixed;
            background: $gold;
            color: black;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            transition: 0.3s;
        }        
        .hide{
            bottom: 0;
            left: 0;
            transform:auto;
            transform:translateY(100%);
            transition: 0.3s;
        }

    }

}

