@import '../../color.scss';

@mixin form{
    width: 100%;
    margin: 0;
    padding:8px;
    box-sizing:border-box;  
    width: 100%;        
}

form{
    margin:0 auto;
    display: flex;
    flex-direction: column;

    label{
        select{
            @include form;
        }
    }

    .input-date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: auto;

        button{
            margin: 0 8px;
        }
    
    }
    
    button{
            @include form;
            width: 50%;
            margin:16px auto;
    }

    .success{
        opacity: 0;
        padding: 4px;
        width: 50%;
        margin: auto;
        text-align: center;
        border: 1px solid $medium-green;
        color: $medium-green;
        border-radius: 10px;
        background-color: $pastel-green;
        &.add{
            animation-name: fulffy;
            animation-duration: 3s;
        }
    }

    @keyframes fulffy {
        0% {opacity: 0;}
        20% {opacity: 100;}
        80% {opacity: 100;}
        100% {opacity: 0;}

    }


}

@media (max-width:599px) {
    form{
        .success{
            width: 100%;
        }
    }
    
}