@import '../../color.scss';

@mixin form{
    margin: 0;
    padding:8px;
    box-sizing:border-box;  
 
}


.input-record{

    .input-count{
        width: 50%;
        margin: auto;
        label{
            select{
                @include form;
                margin: 0;
                padding:8px;
                box-sizing:border-box;  
                width: 100%;        
            
            }
        }
    
    }

    .input-date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: auto;

        button{
            margin: 0 8px;
        }
    
    }
    
    .record-button{
            @include form;
            width: 50%;
            margin:16px auto;
    }

    .success{
        opacity: 0;
        padding: 4px;
        width: 50%;
        margin: auto;
        text-align: center;
        border: 1px solid $medium-green;
        color: $medium-green;
        border-radius: 10px;
        background-color: $pastel-green;
        &.add{
            animation-name: fulffy;
            animation-duration: 3s;
        }
    }

    @keyframes fulffy {
        0% {opacity: 0;}
        20% {opacity: 100;}
        80% {opacity: 100;}
        100% {opacity: 0;}

    }
 

}

.tohome{
    padding: 8px;
    @include form;
    width: 25%;
    margin: 16px auto;
}
// 599
@media (max-width:1024px) {
    
    .input-record{
        .input-count{
            width: 100%;
        }
        .success{
            width: 100%;
        }

        .input-date{
            width: 100%;
        }
    }
    .tohome{
        width: 50%;
    }
}