.home{
    padding-bottom: 40px;
    .body{
        display: flex;
        justify-content: space-between;
        margin: 0;
        .graph{
            width: 50%;
        }

        .record{
            margin-left:8px ;
            width: 50%;
        }
    }
}

@media (max-width:1024px) {
    .home{

        .body{
            flex-direction: column;

            .graph{
                width: 100%;
            }
    
            .record{
                margin-left:0 ;
                width: 100%;
            }
        }
    }   
}