.home{

    .body{
        display: flex;
        justify-content: space-between;
        margin: 0;
        .graph{
            width: 50%;
        }

        .record{
            margin-left:8px ;
            width: 50%;
        }
    }
}